{% extends 'base.jinja2' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h5>Libraries Used</h5>
                <ul>
                    <li><a href="https://djangoproject.com">Django</a> (Python Web framework)</li>
                    <li><a href="https://www.django-rest-framework.org/">Django REST Framework</a> (Toolkit for building REST API)</li>
                    <li><a href="https://github.com/Tivix/django-rest-auth">django-rest-auth</a> (Provide DRF endpoints for Authentication and Registration)</li>
                    <li><a href="https://github.com/axnsan12/drf-yasg">drf-yasg</a> (Generate Swagger/OpenAPI specifications from DRF)</li>
                    <li><a href="https://github.com/jschneier/django-storages">django-storages</a> (Custom storage backend for Django)</li>
                    <li><a href="https://github.com/boto/boto3">boto3</a> (AWS SDK for Python)</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>Settings</h5>
                <ul>
                    <li>DJANGO_SETTINGS_MODULE: {{ settings_module }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
