[run]
omit =
    */migrations/*
    app/manage.py


[report]
omit =
    app/config/wsgi/*
    app/config/settings/*
    app/config/urls/dev.py
    app/utils/management/*
exclude_lines =
    def __str__
    def __repr__
    if settings.DEBUG
    if settings.LOCAL
    if LOCAL
    if DEBUG
    if SETTINGS_MODULE
    if not SETTINGS_MODULE
    def rest_exception_handler
    def is_ec2_linux
    def get_linux_ec2_private_ip
    if private_ip:
    class SettingsBackend:
