alabaster==0.7.12; python_version >= "3.5"
asgiref==3.3.1; python_version >= "3.6"
atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or python_full_version >= "3.5.0" and python_version >= "3.6" and sys_platform == "win32"
attrs==20.3.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
babel==2.9.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
boto3==1.16.50; python_version > "3.5"
botocore==1.19.50; python_version > "3.5"
certifi==2020.12.5; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
chardet==4.0.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
codecov==2.1.11; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or python_full_version >= "3.5.0" and python_version >= "3.6" and sys_platform == "win32"
commonmark==0.9.1
coreapi==2.3.3; python_version >= "3.7"
coreschema==0.0.4; python_version >= "3.7"
coverage==5.3.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4"
django-admin-sortable2==0.7.7
django-aid==0.1.10; python_version >= "3.7"
django-cleanup==4.0.1
django-colorfield==0.3.2
django-cors-headers==3.6.0; python_version >= "3.6"
django-dbbackup==3.3.0
django-debug-toolbar==2.2; python_version >= "3.5"
django-extensions==3.1.0; python_version >= "3.5"
django-filter==2.4.0; python_version >= "3.5"
django-markdownx==3.0.1
django-modeladmin-reorder==0.3.1
django-phonenumber-field==3.0.1; python_version >= "3.5"
django-secrets-manager==0.1.13; python_version > "3.5"
django-sslserver==0.22
django-storages==1.11.1; python_version >= "3.5"
django==3.1.5; python_version >= "3.6"
djangorestframework-api-key==1.4.1; python_version >= "3.5" and python_version < "4.0"
djangorestframework-camel-case==1.2.0; python_version >= "3.5"
djangorestframework-filters==1.0.0.dev2; python_version >= "3.5"
djangorestframework==3.12.2; python_version >= "3.5"
docutils==0.16; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.5"
drf-writable-nested==0.5.4
drf-yasg==1.20.0; python_version >= "3.6"
easy-thumbnails==2.7.1; python_version >= "3.5"
gunicorn==20.0.4; python_version >= "3.4"
idna==2.10; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
imagesize==1.2.0; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.5"
inflection==0.5.1; python_version >= "3.7"
iniconfig==1.1.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
itypes==1.2.0; python_version >= "3.7"
jinja2==2.11.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
jmespath==0.10.0; python_version > "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version > "3.5"
markdown==3.3.3; python_version >= "3.6"
markupsafe==1.1.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
model-bakery==1.2.1
packaging==20.8; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
phonenumberslite==8.12.15
pillow==8.1.0; python_version >= "3.6"
pluggy==0.13.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
psycopg2-binary==2.8.6; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
py==1.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pygments==2.7.3; python_version >= "3.5"
pyparsing==2.4.7; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
pytest-cov==2.10.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
pytest-django==3.10.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
pytest==6.2.1; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
python-dateutil==2.8.1; python_version > "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version > "3.5"
pytz==2020.5; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.6"
recommonmark==0.6.0
requests==2.25.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
ruamel.yaml==0.16.12; python_version >= "3.7"
s3transfer==0.3.3; python_version > "3.5"
sentry-sdk==0.19.5
six==1.15.0; python_version > "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version > "3.5"
snowballstemmer==2.0.0; python_version >= "3.5"
sphinx-rtd-theme==0.5.1
sphinx==3.4.2; python_version >= "3.5"
sphinxcontrib-applehelp==1.0.2; python_version >= "3.5"
sphinxcontrib-devhelp==1.0.2; python_version >= "3.5"
sphinxcontrib-htmlhelp==1.0.3; python_version >= "3.5"
sphinxcontrib-jsmath==1.0.1; python_version >= "3.5"
sphinxcontrib-qthelp==1.0.3; python_version >= "3.5"
sphinxcontrib-serializinghtml==1.1.4; python_version >= "3.5"
sqlparse==0.4.1; python_version >= "3.6"
toml==0.10.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
uritemplate==3.0.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
urllib3==1.26.2; python_version > "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version > "3.5"
