.sc-1sch5l7-0 {
  li.sc-10atcbm-2 > label.-depth1 {
    font-weight: bold;
    text-transform: uppercase;
  }
}
h1, h2, h3, h4 {
  margin: 0;
}
p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
.csNTMr {
  padding: 5px 0 !important;
}
.dykNiJ {
  padding: 5px 0 !important;
}
.diqfaT {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.sc-107yc6q-0 > p{
  white-space: pre-line;
}
// Sidebar fix
.menu-content {
    contain: unset !important;
}
