{% extends 'base.jinja2' %}

{% block content %}
<div>
<h1>let us:Go!</h1>
<ul>
    <li>
        <a href="https://github.com/LeeHanYeong/let-us-Go">저장소 & API사용법</a>
    </li>
    <li>
        <a href="https://letusgo.lhy.kr/doc/">API문서</a>
    </li>
</ul>
</div>
{% endblock %}
